.trove__mp{
    background-color: #1a1a1a;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
   
    align-items: center;
}

.trove__mp_song{
    margin-right: auto;
    margin-left: 20px ;
    justify-items: center;
    text-align: left;
}

.trove__mp_img{
    width: 60px;
    padding-left: 20px;
}



.trove__mp_tools{
    margin-left: auto;
    margin-right: 20px;
}