*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.trove__nav-top{
    height: 90px;
    background-color:#000;
    
    
}
.trove__nav-inner{
    color: white;
    
}

.active{
    background:#2A2A72;
    color: #FFF;
    transform: none;
    animation-delay: 3000;
  }

  
